@use "../styles/tokens" as *;

.wrapper {
  @include flex-center;
  height: 100vh;
}

.form {
  @include flex-column;
  gap: $spacing-md;
  width: 400px;
  max-width: 100%;
  padding: spacing(2);
  border: 1px solid $border-color;
  background: $background-color;
  border-radius: 10px;
}

.title {
  font-size: 1.5rem;
  color: $font-color;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  input {
    padding: spacing(1);
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: medium;
    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
}

.submit {
  padding: spacing(1);
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: medium;
  cursor: pointer;
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.link {
  color: $color-primary;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  margin-top: $spacing-md;
}
